**/.env
**/.venv
study_buddy/.dockerignore
study_buddy/study_buddy/.env
study_buddy/study_buddy/.venv
study_buddy/study_buddy/training_data.pkl
study_buddy/study_buddy/trained_agents_data.pkl
study_buddy/study_buddy/agentops.log
study_buddy/study_buddy/src/__pycache__/
study_buddy/study_buddy/src/.env

